# ===== CLion =====
.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

# ===== CMake / Build =====
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
out/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out

# ===== Компиляция C =====
*.gch
*.pch
*.d
*.gcno
*.gcda
*.gcov

# ===== Отладка =====
*.debug
*.pdb

# ===== IDE / редакторы =====
.vscode/
*.swp
*~
.vim/
.cache/

# ===== ОС =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Логи и временные =====
*.log
*.tmp
